---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 702eda69-4f01-4508-8b15-674ccf4dba6b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 6237,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "zip_extension" : "1111",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "longitude" : -121.25118,
                "lattitude" : 38.74037,
                "deliverable" : true,
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "Spa pool",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "name_prefix" : {
                  "value" : "Mr.",
                  "id" : 1
                },
                "first_name" : "string",
                "middle_name" : "string",
                "last_name" : "string",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                }
              } ],
              "directions_to_home" : "Directions here",
              "home_languages" : [ {
                "value" : "English",
                "id" : 6
              } ]
            },
            "tracking_id" : 182,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 6490,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 6343,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" :[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6237?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 702eda69-4f01-4508-8b15-674ccf4dba6b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 6237,
          "other_type_de[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6237/tracking/182
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 702eda69-4f01-4508-8b15-674ccf4dba6b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 182,
          "facility_name" : "",
          "rfa_1a_id" : 6237,
          "tracking_documents" : {
            "facility_documents" : {
              "family_documents" : {
                "items" : [ {
                  "title" : "RFA Application (RFA 01A)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Income",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Disclosure of Expenses",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Property",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #1",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #2",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #3 (if applicable)",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "tasks_and_trainings" : {
                "items" : [ {
                  "title" : "Attended Orientation Meeting",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Risk Assessment",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Pre-Service Training",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "assessments" : {
                "items" : [ {
                  "title" : "Family Evaluation",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Written Report",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Acknowledgement of Written Report",
                  "notes" : "",
                  "checked" : false
                } ]
              }
            },
            "people_documents" : [ ]
          },
          "create_datetime" : "2018-06-26 11:18:45",
          "create_user_id" : "RACFID",
          "update_datetime" : "2018-06-26 11:18:45",
          "update_user_id" : "RACFID"
        }
  recorded_at: Tue, 26 Jun 2018 22:27:01 GMT
recorded_with: VCR 3.0.3
