---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 09 Jul 2018 21:42:51 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:42:51
=======
      - Mon, 09 Jul 2018 23:21:24 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:24
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-frame-options:
      - deny
      x-xss-protection:
      - 1; mode=block
      transfer-encoding:
      - chunked
      connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
<<<<<<< HEAD
            "id" : 11061,
=======
            "id" : 6490,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "status" : "IN_PROGRESS",
            "tracking_id" : 341,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 6789,
            "other_type_description" : "otherDescription",
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "2870 Gateway Ave",
                "zip" : "93064",
                "city" : "Brandeis",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Lease",
                "id" : 3
              },
              "weapon_in_home" : false,
              "body_of_water_exist" : false,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : false,
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              } ]
            },
            "applicants" : [ {
              "id" : 6879,
              "first_name" : "Hello",
              "middle_name" : "",
              "last_name" : "1test",
              "other_names" : [ ],
              "date_of_birth" : "1986-09-08",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "1111111111",
                "preferred" : false
              } ],
              "rfa1b_form" : {
                "id" : 1237,
                "application_county" : {
                  "value" : "Ventura",
                  "id" : 56
                },
                "resource_family_name" : "daasda",
                "applicant_first_name" : "Hello",
                "applicant_middle_name" : "",
                "applicant_last_name" : "1test",
                "residence_address" : {
                  "street_address" : "2870 Gateway Ave",
                  "zip" : "93064",
                  "city" : "Brandeis",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  }
                },
                "date_of_birth" : "1986-09-08",
                "driver_license" : "",
                "metadata" : {
                  "submit_enabled" : true
                }
              }
            } ],
            "rfa1c_forms" : [ {
              "id" : 693,
              "application_county" : {
                "value" : "Ventura",
                "id" : 56
              },
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "asda",
                "middle_name" : "",
                "last_name" : "adsa",
                "date_of_birth" : "1986-09-08",
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                },
                "child_in_home" : false
              } ],
              "metadata" : {
                "submit_enabled" : true
              }
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "placement_home_id" : "6sh2xEi0X6",
            "metadata" : {
              "submit_enabled" : true
            },
            "status" : "SUBMITTED",
            "resource_family_name" : "1test, Hello",
            "is_initial_application" : false
          }, {
            "id" : 11172,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 6947,
              "first_name" : "adc",
              "middle_nam[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 09 Jul 2018 21:42:57 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:42:57
=======
      - Mon, 09 Jul 2018 23:21:26 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:26
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      x-content-type-options:
      - nosniff
      x-frame-options:
      - deny
      x-xss-protection:
      - 1; mode=block
      content-length:
      - '76'
      connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: |-
        {
<<<<<<< HEAD
          "id" : 11379,
=======
          "id" : 11459,
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
          "status" : "DRAFT",
          "is_initial_application" : false
        }
<<<<<<< HEAD
  recorded_at: Mon, 09 Jul 2018 21:42:57 GMT
=======
  recorded_at: Mon, 09 Jul 2018 23:21:26 GMT
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - applic[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - app[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/js[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/js[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/j[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 09 Jul 2018 21:42:58 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:42:58
=======
      - Mon, 09 Jul 2018 23:21:27 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:27
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-frame-options:
      - deny
      x-xss-protection:
      - 1; mode=block
      content-length:
      - '104'
      connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
<<<<<<< HEAD
  recorded_at: Mon, 09 Jul 2018 21:42:58 GMT
=======
  recorded_at: Mon, 09 Jul 2018 23:21:27 GMT
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - applicatio[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<<< [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 09 Jul 2018 21:42:59 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:42:59
=======
      - Mon, 09 Jul 2018 23:21:27 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:27
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-frame-options:
      - deny
      x-xss-protection:
      - 1; mode=block
      content-length:
      - '107'
      connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
<<<<<<< HEAD
  recorded_at: Mon, 09 Jul 2018 21:42:59 GMT
=======
  recorded_at: Mon, 09 Jul 2018 23:21:27 GMT
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - app[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<<[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11379?expanded=true
=======
  recorded_at: Mon, 09 Jul 2018 23:21:27 GMT
[...]
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/2870%20something%20else
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 09 Jul 2018 21:43:05 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:43:05
=======
      - Mon, 09 Jul 2018 23:21:32 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:32
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      vary:
      - Accept-Encoding
      content-length:
      - '3'
      connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: "[ ]"
<<<<<<< HEAD
  recorded_at: Mon, 09 Jul 2018 21:43:05 GMT
=======
  recorded_at: Mon, 09 Jul 2018 23:21:32 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11459
    body:
      encoding: UTF-8
      string: '{"id":"11459","metadata":{"submit_enabled":true}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - e240ecfa-3569-4121-957c-cefbe4db1e51
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 11459,
          "metadata" : {
            "submit_enabled" : true
          },
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Mon, 09 Jul 2018 23:21:35 GMT
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11379/applicants
=======
  recorded_at: Mon, 09 Jul 2018 23:21:36 GMT
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11379/residence
    body:
      encoding: UTF-8
      string: '{"physical_mailing_similar":"true","weapon_in_home":"true","body_of_water_exist":"true","body_of_water_description":"","others_using_residence_as_mailing":"true","directions_to_home":"","residence_ownership":{"id":"1","value":"Own"},"home_languages":[{"id":1,"value":"American
        Sign Language"},{"id":3,"value":"Armenian"}],"other_people_using_residence_as_mailing":[{"first_name":"Alden","middle_name":"","last_name":"Myrna"}],"addresses":[{"street_address":"2870
        something else","zip":"12345","city":"Sacremento","state":{"id":"CA","value":"California"},"type":{"id":"1","value":"Residential"}},{"street_address":"","zip":"","city":"","type":{"id":"3","value":"Mailing"}}]}'
=======
  recorded_at: Mon, 09 Jul 2018 23:21:36 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
      Accept-Encoding:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
      Accept:
      - "*/*"
      User-Agent:
      - Ruby
  response:
    status:
      code: 200
      message: OK
<<<<<<< HEAD
=======
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 23:21:36 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - e240ecfa-3569-4121-957c-cefbe4db1e51
  response:
    status:
      code: 200
      message: 
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      Date:
      - Mon, 09 Jul 2018 21:43:10 GMT
      Set-Cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:43:10
=======
      date:
      - Mon, 09 Jul 2018 23:21:36 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:36
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Frame-Options:
      - deny
      X-Xss-Protection:
      - 1; mode=block
      Content-Length:
      - '123'
      Connection:
      - keep-alive
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
<<<<<<< HEAD
  recorded_at: Mon, 09 Jul 2018 21:43:10 GMT
=======
  recorded_at: Mon, 09 Jul 2018 23:21:36 GMT
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11379/rfa-1b-forms/applicants/7068
=======
  recorded_at: Mon, 09 Jul 2018 23:21:37 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11379/rfa-1b-forms/1281
=======
  recorded_at: Mon, 09 Jul 2018 23:21:38 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11379/rfa-1c-forms/
=======
  recorded_at: Mon, 09 Jul 2018 23:21:39 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11459/rfa-1c-forms/
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
<<<<<<< HEAD
      - Mon, 09 Jul 2018 21:43:12 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:43:13
=======
      - Mon, 09 Jul 2018 23:21:39 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:39
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      x-content-type-options:
      - nosniff
      x-frame-options:
      - deny
      x-xss-protection:
      - 1; mode=block
      content-length:
      - '264'
      connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
<<<<<<< HEAD
        <p>Problem accessing /rfa-1a-forms/11379/rfa-1c-forms/. Reason:
=======
        <p>Problem accessing /rfa-1a-forms/11459/rfa-1c-forms/. Reason:
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        <pre>    Not Found</pre></p>
        </body>
        </html>
<<<<<<< HEAD
  recorded_at: Mon, 09 Jul 2018 21:43:13 GMT
=======
  recorded_at: Mon, 09 Jul 2018 23:21:39 GMT
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/2870%20something%20else2870%20something%20else
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
<<<<<<< HEAD
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
=======
      - e240ecfa-3569-4121-957c-cefbe4db1e51
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Mon, 09 Jul 2018 21:43:15 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 21:43:15
=======
      - Mon, 09 Jul 2018 23:21:41 GMT
      set-cookie:
      - rememberMe=deleteMe; Path=/; Max-Age=0; Expires=Sun, 08-Jul-2018 23:21:41
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        GMT
      vary:
      - Accept-Encoding
      content-length:
      - '3'
      connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: "[ ]"
<<<<<<< HEAD
  recorded_at: Mon, 09 Jul 2018 21:43:15 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11379/rfa-1b-forms/1281
    body:
      encoding: UTF-8
      string: '{"id":1281,"convicted_in_california":"true","convicted_in_another_state":"true","arrested_for_crime":"true","resource_family_name":"test","applicant_first_name":"first
=======
  recorded_at: Mon, 09 Jul 2018 23:21:41 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11459/rfa-1b-forms/1297
    body:
      encoding: UTF-8
      string: '{"id":1297,"convicted_in_california":"true","convicted_in_another_state":"true","arrested_for_crime":"true","resource_family_name":"test","applicant_first_name":"first
>>>>>>> f6cfc8cb383f152d20a7863de53c158937fada91
        name","applicant_middle_name":"","applicant_last_name":"last name","date_of_birth":"1111-11-11","driver_license":"","metadata":{"submit_enabled":true},"application_county":{"id":20,"value":"Madera"},"residence_address":{"street_address":"2870
[...]
